{% from '_includes/forms' import textField, lightswitchField, selectField, autosuggestField, colorField, field %}

{{ autosuggestField({
    label: 'Account ID'|t('commerce'),
    instructions: 'Flo2Cash issued Account ID',
    id: 'accountId',
    class: 'ltr',
    name: 'accountId',
    suggestEnvVars: true,
    required: true,
    value: gateway.accountId,
    errors: gateway.getErrors('accountId')
}) }}

{{ autosuggestField({
    label: 'Secret Key'|t('commerce'),
    instructions: 'Secret hash key used to provide tamper proof message transfer between you and the Flo2Cash Web Payments application',
    id: 'secretKey',
    class: 'ltr',
    name: 'secretKey',
    suggestEnvVars: true,
    required: true,
    value: gateway.secretKey,
    errors: gateway.getErrors('secretKey')
}) }}


{{ field({
  label: 'Header Image',
  instructions: 'Sets the image at the top of the payment page',
}, include('_includes/forms/elementSelect', headerImageSelectConfig)) }}

{{ colorField({
    label: 'Bottom Border Color',
    id: 'headerBottomBorder',
    name: 'headerBottomBorder',
    instructions: 'Sets the colour of the border underneath the header',
    value: gateway.headerBottomBorder,
    errors: gateway.getErrors('headerBottomBorder')
}) }}

{{ colorField({
    label: 'Background Color',
    id: 'headerBackgroundColour',
    name: 'headerBackgroundColour',
    instructions: 'Sets the background colour of the header section',
    value: gateway.headerBackgroundColour,
    errors: gateway.getErrors('headerBackgroundColour')
}) }}

{{ selectField({
    label: 'Preferred Payment Method'|t('commerce'),
    instructions: 'Sets the preferred payment method, skipping the payment method selection page',
    name: 'paymentMethod',
    options: paymentMethods,
    value: gateway.paymentMethod,
    errors: gateway.getErrors('paymentMethod')
}) }}

{{ selectField({
    label: 'Return Option'|t('commerce'),
    instructions: 'This must match the return option in your <a href="https://secure.flo2cash.co.nz/client/PricingChannel/WebPaymentsIntegrationEdit.aspx">Flo2Cash integration settings</a>.',
    name: 'returnOption',
    options: returnOptions,
    value: gateway.returnOption,
    errors: gateway.getErrors('returnOption')
}) }}

{# {{ lightswitchField({
    label: 'Use the Merchant Notification Service? '|t('commerce'),
    id: 'useMerchantNotificationService',
    name: 'useMerchantNotificationService',
    on: gateway.useMerchantNotificationService,
    errors: gateway.getErrors('useMerchantNotificationService'),
}) }} #}

{{ lightswitchField({
    label: 'Should commerce send cart information to gateway when making transactions?'|t('commerce'),
    id: 'sendCartInfo',
    name: 'sendCartInfo',
    on: gateway.sendCartInfo,
    errors: gateway.getErrors('sendCartInfo'),
}) }}

{{ lightswitchField({
    label: 'Should Web Payments collect customer information? (cart information must be sent for this to work)'|t('commerce'),
    id: 'customerInfoRequired',
    name: 'customerInfoRequired',
    on: gateway.customerInfoRequired,
    errors: gateway.getErrors('customerInfoRequired'),
}) }}

{{ lightswitchField({
    label: 'Should Web Payments display an option for storing card details upon successful payment?'|t('commerce'),
    id: 'storeCard',
    name: 'storeCard',
    on: gateway.storeCard,
    errors: gateway.getErrors('storeCard'),
}) }}

{{ lightswitchField({
    label: 'Should Web Payments display the customer email receipt field?'|t('commerce'),
    id: 'displayCustomerEmail',
    name: 'displayCustomerEmail',
    on: gateway.displayCustomerEmail,
    errors: gateway.getErrors('displayCustomerEmail'),
}) }}

{{ lightswitchField({
    label: 'Enable test mode?'|t('commerce'),
    id: 'testMode',
    name: 'testMode',
    on: gateway.testMode,
    errors: gateway.getErrors('testMode'),
}) }}
